.cocktail-card {
    display: flex;
    text-align: left;
    justify-content: space-between;
    gap: 16px;
    padding: 20px;
    border-radius: 12px;
    background-color: #e08804;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__image-wrapper {
        @media (max-width: 768px) {
            width: 100px;
            height: 100px;
        }
    }

    &__image {
        object-fit: cover;

        @media (max-width: 768px) {
            width: 100px;
            height: 100px;
        }
    }
}
